<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.wellness.app"
        version   = "1.0.0">
    <name>Wellness Health Insurance</name>

    <description>
       Wellness Health Insurance Presentation App
    </description>

    <author href="http://loyaltysolutionsnigeria.com" email="services@loyaltysolutionsnigeria.com">
       Powersoft Limited
    </author>

    <plugin name="phonegap-plugin-barcodescanner"/>

    <preference name="phonegap-version" value="cli-6.5.0" />
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />
    <preference name="webviewbounce"    value="false" />

    <icon src="icon.png" />
   
    <!-- content src="http://www.w3.org/2010/05/video/mediaevents.html" / -->
</widget>
